---
export const prerender = true;

import Layout from '@/layouts/LayoutBase.astro';
import PostList from '@/components/PostList.astro';
import Pagination from '@/components/Pagination.astro';
import { getCollection } from 'astro:content';
import { THEME } from '@/config';
import { fetchPosts } from '@/utils/fetchPosts';


export async function getStaticPaths({ paginate }) {
    const posts = await fetchPosts();
    return paginate(posts, { pageSize: THEME.postsPerPage })
}
const { page } = Astro.props

const title = page.currentPage === 1 ? "Архив" : `Архив - Страница ${page.currentPage}`;
const description = "";


---

<Layout title={title} description={description}>

    {page.currentPage === 1 ? (
        <h1>Архив</h1>
    ):(
        <h1>Архив - Страница {page.currentPage}</h1>
    )}

    <PostList posts={page.data} />

    { page.total > THEME.postsPerPage &&  (
        <Pagination page={page} />
    )}

</Layout>


