---
export const prerender = true;

import Layout from '@/layouts/LayoutBase.astro';
import { slugify } from '@/utils/slugify.js';

const title = "Теги и рубрикатор";
const description = "";


import { getCollection } from 'astro:content';
const posts = await getCollection('blog', (post) => {
    return !post.data.isDraft && post.data.date <= new Date();
});

// === Receive all tags from each post in posts.

// Step 1. Collect all tags from each post in posts.
const tagsList: (string | number )[][] = posts.map((post) => {
    post.data.tags = post.data.tags || [];
    if (post.data.tags.length > 0) {
        post.data.tags.map((tag) => {
            return tag.toString();
        });
        return post.data.tags;
    }

    return post.data.tags;
});

// Step 2. Then flatten the array of arrays into a single array.
const tags = tagsList.flat();

// Step 3. Then remove duplicates and empty strings.
const uniqueTags = [...new Set(tags)];

// Step 5. Sort the tags alphabetically.
const sortedTags = uniqueTags.sort();

---

<Layout title={title} description={description}>
    <article class="prose">
        <h1>Теги и рубрикатор Безымянной овцы</h1>
        <p>В каждом приличном блоге должны быть теги. Безымянная овца хоть и не является в общепринятом смысле приличным блогом, но теги есть и в ней, чтобы можно было легко отфильтровать нужное в данную конкретную секунду (например, в моменты уныния приятно перечитывать <a href="/tagged/волобуев/">цитаты из Волобуева)</a>.</p>
        <p>Всего в Безымянной овце сейчас тегов: {sortedTags.length}.</p>
        <p><a href="/tagged/избранное/">избранное</a>, <a href="/tagged/прекрасное/">прекрасное</a>, <a href="/tagged/любимое/">любимое</a></p>
        <hr />
        <ul class="tagcloud">
            {sortedTags.map((tag) => (
                <li class="tagclouditem"><a class="tagcloudlink" href={`/tagged/${slugify(tag)}/`}>{tag}</a></li>
            ))}
        </ul>
    </article>
</Layout>

