---
import { SITE } from "@/config";

export interface Props {
    homepage?: boolean;
    title: string;
    description: string;
    canonical?: URL;
    type: string;
    ogImage: string;
}

const {
    homepage = false,
    title,
    description,
    canonical,
    type,
    ogImage,
} = Astro.props;
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="canonical" href={canonical} />
    <link
        rel="alternate"
        type="application/rss+xml"
        title={SITE.title}
        href={`${SITE.url}/rss.xml`}
    />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet"
    />

    <!-- Primary Meta Tags -->
    {
        homepage ? (
            <title>{title}</title>
        ) : (
            <title>
                {title} • {SITE.title}
            </title>
        )
    }
    {
        homepage ? (
            <meta name="title" content={title} />
        ) : (
            <meta name="title" content={`${title} • ${SITE.title}`} />
        )
    }
    <meta name="description" content={description} />

    <!-- Open Graph -->
    <meta property="og:type" content={type} />
    <meta property="og:url" content={canonical} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />
    <link rel="icon" type="image/png" href="/favicon.png" />

    <meta name="format-detection" content="telephone=no" />
</head>
